<div class="container">
    <div class="content">
        <div class="streak">
            <h2>Study Streak</h2>
            <i class='bx bxs-hot bx-tada' ></i>
        </div>
        <div class="create">
            <h2>Create New Set</h2>
            <i class='bx bxs-folder-plus'></i>
        </div>
        <div class="challenge">
            <h2>Challenge Friends</h2>
            <i class='bx bxs-trophy bx-fade-up' ></i>
        </div>
    </div>
</div>