<div class="container">
    <aside id="sidebar">
        <div class="toggle" id="sidebar-toggle">
            <div class="logo" onclick="toggleSidebar()">
                <img src="/images/wordverse_logo.png" alt="Wordverse Logo">
                <span class="navbar-text">Wordverse</span>
            </div>
            <div class="exit" id="exit-btn">
                <i class='bx bxs-x-circle'></i>
            </div>
        </div>
        <div class="sidebar-options">
            <a href="/study">
                <i class='bx bxs-book'></i>
                <p>Study</p>
            </a>
            <a href="#">
                <i class='bx bxs-donate-heart' ></i>
                <p>Friends</p>
            </a>
            <a href="/create">
                <i class='bx bxs-folder-open' ></i>
                <p>Add Cards</p>
            </a>
            <form method="POST" action="/logout">
                <button type="submit" class="form-wrap-btn">
                    <i class='bx bx-log-out' ></i>
                    <p>Logout</p>
                </button>
            </form>
        </div>
    </aside>
    </div>
    <div class="navbar">
        <div id="dashboard-trigger">
            <i class='bx bx-menu' ></i>
        </div>
        <div id="welcome-prompt">
            Welcome, <b>&nbsp;<%= props.username %></b>!
        </div>
        <div id="profile-trigger">
            <i class='bx bxs-dashboard'></i>
        </div>
    </div>
    <div class="content">
        <div class="streak">
            <h2>Study Streak</h2>
            <i class='bx bxs-hot bx-tada' ></i>
        </div>
        <div class="create">
            <h2>Create New Set</h2>
            <i class='bx bxs-folder-plus'></i>
        </div>
        <div class="challenge">
            <h2>Challenge Friends</h2>
            <i class='bx bxs-trophy bx-fade-up' ></i>
        </div>
    </div>
</div>