<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/images/wordverse_logo.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <aside id="sidebar">
            <div class="toggle">
                <div class="logo">
                    <img src="/images/wordverse_logo.png" alt="Wordverse Logo">
                </div>
                <div class="exit" id="exit-btn">
                    <i class='bx bxs-x-circle'></i>
                </div>
            </div>
            <div class="sidebar-options">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <p>Dashboard</p>
                </a>
                <a href="#">
                    <i class='bx bxs-donate-heart' ></i>
                    <p>Friends</p>
                </a>
                <a href="#">
                    <i class='bx bxs-folder-open' ></i>
                    <p>Study Sets</p>
                </a>
                <a href="/">
                    <i class='bx bx-log-out' ></i>
                    <p>Logout</p>
                </a>
            </div>
        </aside>
        <a href="/profile" class="profile">Profile</a>
    </div>
    
    <script src="dashboard.js"></script>
</body>
</html>