<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/flashcards.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="main-body">
            <div class="flashcard-container">
                <div class="flashcard-display flashcard-display-style-green">
                    <!-- FLASH CARD LIST -->
                    <div class="flashcard-list">
                        <div class="flashcard flashcard-style-normal shown">
                            <div class="flashcard-contents">
                                <div class="flashcard-front">
                                    Front
                                </div>
                                <div class="flashcard-back hidden">
                                    Back
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BUTTONS -->
                    <div class="flashcard-button-display">
                        <button class="flashcard-button flashcard-button-prev">Prev</button>
                        <button class="flashcard-button flashcard-button-next">Next</button>
                    </div>
                </div>
            </div>
        </div>
          
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script src="../JS/flashcards.js" async defer></script>
    </body>
</html>