<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to word verse!</h1>
        <p>Choose an option below:</p>
        <a href="/signup">
            <button>
                Create an Account
            </button>
        </a>
        <a href="/login">
            <button>
                Login
            </button>
        </a>
        <a href="/flashcards">
            <button>
                Flashcard Widget
            </button>
        </a>
        
        <script src="" async defer></script>
    </body>
</html>