<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Wordverse!</title>
        <link rel="stylesheet" href="CSS/index.css">
        <%- include('partials/imports/boxicons') %>
        <%- include('partials/imports/favicon-default') %>
    </head>
    <body>
        <!-- <video autoplay muted loop>
            <source src="/images/index.mp4" type="video/mp4">
        </video> -->
        <div class="navbar">
            <a href="/" class="logo-link">
                <div class="logo"></div>
                <span class="navbar-text">Wordverse</span>
            </a>
            <a href="/login" class="login">Log in</a>
            <a href="/signup" class="signup">Sign Up</a>
        </div>

        <div class="container">
            <div class="welcome-text">Welcome to Wordverse!</div>
            <a href="/flashcards" class="logo-link" id="logo-link">
                <div class="large-logo"></div>
            </a>
        </div>
        <script src="/JS/index.js"></script>
    </body>
</html>
