/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 12 rem auto 24 rem;
}

#sidebar {
    height: 100vh;
}

#sidebar .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar .toggle .logo {
    display: flex;
}

#sidebar .toggle .logo img {
    width: 2rem;
    height: 2rem;
}

#sidebar .toggle .exit {
    padding-right: 1rem;
    display: none;
}

#sidebar .sidebar-options {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: grey;
} */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
.container {
  display: flex;
}

#sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.toggle {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
}

.logo img {
  width: 50px;
  height: auto;
}

.sidebar-options {
  padding: 15px;
}

.sidebar-options a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar-options a:hover {
  color: #f1f1f1;
}

.sidebar-options i {
  margin-right: 10px;
}

.exit {
  cursor: pointer;
  color: #818181;
}
.exit:hover {
  color: rgb(182, 21, 21);
}
.form-wrap-btn{
  background-color: transparent;
  color: #818181;
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  font-size: 16px;
}
.form-wrap-btn:hover{
  color: #f1f1f1;
}
.welcome-prompt{
  color: #818181;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}