<aside id="sidebar">
    <div class="toggle" id="sidebar-toggle">
        <div class="logo" onclick="toggleSidebar()">
            <img src="/images/wordverse_logo.png" alt="Wordverse Logo">
            <span class="navbar-text">Wordverse</span>
        </div>
        <div class="exit" id="exit-btn">
            <i class='bx bxs-x-circle'></i>
        </div>
    </div>
    <div class="sidebar-options">
        <% if (props.username) { %>
            <a href="/collection">
                <i class='bx bxs-collection'></i>
                <p>Edit Collection</p>
            </a>
            <a href="/create">
                <i class='bx bxs-folder-open' ></i>
                <p>Add Cards</p>
            </a>
            <a href="/study">
                <i class='bx bxs-book'></i>
                <p>Study</p>
            </a>
            <a href="/friends">
                <i class='bx bxs-donate-heart' ></i>
                <p>Friends</p>
            </a>
            <form method="POST" action="/logout">
                <button type="submit" class="form-wrap-btn">
                    <i class='bx bx-log-out' ></i>
                    <p>Logout</p>
                </button>
            </form>
        <% } else { %>
            <a href="/" class="home">
                <i class='bx bxs-home' ></i>
                <p>Home</p>
            </a>
            <a href="/login" class="login">
                <i class='bx bx-log-in'></i>
                <p>Log in</p>
            </a>
            <a href="/signup" class="signup">
                <i class='bx bxs-user-circle'></i>
                <p>Sign up</p>
            </a>
        <% } %>
    </div>
</aside>
</div>
<div class="navbar">
    <div id="dashboard-trigger">
        <i class='bx bx-menu' ></i>
    </div>
    <div id="welcome-prompt">
        <% if (props.username) { %>
            Welcome, <b>&nbsp;<%= props.username %></b>!
        <% } else { %>
            Welcome! Please log in or sign up!
        <% } %>
    </div>
    <div id="profile-trigger">
        <a href="/profile">
            <i class='bx bxs-dashboard'></i>
        </a>
    </div>
</div>