<% let shown = "in-deck" %>
<% if (topCard == true) { %>
    <% shown = "shown" %>
<% } %>
<div class="fill-in-card flashcard-style-normal <%= shown %>">
    <% let output = "" %>
    <% let values = card.content.fillInContent %>
    <% for( let i = 0; i < values.length; i++ ) { %>
        <% if(i%2 == 0){ %>
           <% output += values[i] %>
        <% } %>
        <% else{ %>
            <% output += `<span class="fill-in-blank" data-answer="${values[i]}" oninput="validateFillIn(this)" contenteditable></span>` %>
        <% } %>
    <% } %>
</div>